@charset "utf-8";
/* CSS Document */

body {
	margin: 0px;
	padding: 0px;
	background-color: #F60;
	background-image: url(images/istanbul.png);
}
#menu {
	height: 70px;
	width: 800px;
	margin-right: auto;
	margin-left: auto;
	background-color: #F30;
	border: 5px solid #FFF;
	border-radius: 10px;
	box-shadow: 1px 1px 10px 0px #333;
	position: fixed;
	left: 0px;
	right: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-left: 0px;
	top: 0px;
}
#icerik {
	background-color: rgba(255,0,0,0.7);
	height: 1000px;
	width: 800px;
	margin-right: auto;
	margin-left: auto;
	border: 5px solid rgba(102,102,102,0.7);
	margin-top: 95px;
	border-radius: 10px;
	box-shadow: 1px 1px 10px 0px #333;
}
#alt {
	background-image: url(images/istanbul.png);
	background-repeat: repeat-x;
	height: 230px;
	width: 100%;
	position: fixed;
	bottom: 0px;
	opacity: 0.9;
}
