@charset "utf-8";
/* CSS Document */

body {
	background-image: url(images/bg2.png);
	background-repeat: repeat-x;
	background-color: #090;
	background-attachment: fixed;
}
#icerik {
	height: auto;
	width: 700px;
	margin-right: auto;
	margin-left: auto;
	background-color: #CC9900;
}
